/* Стилизация кнопки */
.button {
    height: 48px;
    width: 189px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button_primary {
    background: var(--primary);
    color: var(--white);
    border: none;

    --hover-background: var(--hover-primary);
    --hover-background-transition: background 200ms ease-in-out;
}

.button_primary:hover {
    background: var(--hover-background);
    transition: background 200ms ease-in;
}

.button_primary_hover {
    background: var(--hover-background);
    transition: var(--hover-background-transition);
}

.button_primary:active {
    background: var(--hover-primary) radial-gradient(var(--hover-primary), var(--active-primary));
    box-shadow: none;
}

.button_secondary {
    background: var(--secondary);
    color: var(--white);
    border: none;

    --hover-background-transition: background 200ms ease-in-out;
    --hover-background: var(--hover-secondary);
}

.button_secondary:hover {
    background: var(--hover-background);
    transition: var(--hover-background-transition);
}

.button_secondary_hover {
    background: var(--hover-background);
    transition: var(--hover-background-transition);
}

.button_secondary:active {
    background: var(--hover-secondary) radial-gradient(var(--hover-secondary), var(--active-secondary));
    box-shadow: none;
}

.button_alternate {
    background: white;
    color: var(--grey-4);
    border: 1px solid var(--grey-3);

    --hover-border: 1px solid var(--grey-4);
    --hover-border-transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
}

.button_alternate:hover {
    border: var(--hover-border);
    transition: var(--hover-border-transition);
}

.button_alternate_hover {
    border: var(--hover-border);
    transition: var(--hover-border-transition);
}

.button_alternate:active {
    background: var(--white) radial-gradient(var(--white), var(--grey-1));
    box-shadow: none;
}
