/* Стилизация аккордеона */

.accordion__item {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    margin: 0 0 8px 0;
    --accordion-left-rigth-margin: 32px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: inline;
    margin: 24px var(--accordion-left-rigth-margin) 24px var(--accordion-left-rigth-margin);
    list-style: none;

    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

    /*prevent text selection on opening after click*/
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none;

    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__details {
    margin: -8px var(--accordion-left-rigth-margin) 32px var(--accordion-left-rigth-margin);
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}